# Data
data/*
!data/.gitkeep
!data/gakg_subset.parquet

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.swp